{template 'common/header'}
{template 'web/shop/tabs'}
{if $operation == 'display'}
<style>
    .panel .table td, .panel .table th{ text-align: center; }
</style>
<form action="" method="post">
<div class="panel panel-default">
    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="navbar-inner">
                <tr>
                    <th style="width:74px;">ID</th> 				
                    <th>标题</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {loop $list $row}
                <tr>
                    <td>{$row['id']}</td>
                    <td>{$row['title']}</td>            
                    <td style="text-align:left;">
                        <a href="{php echo $this->createPluginWebUrl('network', array('method'=>'article_label','op' => 'post', 'id' => $row['id']))}" class="btn btn-default btn-sm"  title="修改" style="background-color: #ff5858; color: #fff;"><i class="fa fa-edit"></i></a>
                        <a href="{php echo $this->createPluginWebUrl('network', array('method'=>'article_label','op' => 'delete', 'id' => $row['id']))}" class="btn btn-default btn-sm" onclick="return confirm('确认删除文章类型?')" title="删除" style="background-color: #000; color: #fff;"><i class="fa fa-times"></i></a>
                    </td>
                </tr>
                {/loop}
                <tr>
                    <td colspan='3'>
                        
                      <a class='btn btn-primary' href="{php echo $this->createPluginWebUrl('network',array('method'=>'article_label','op'=>'post'))}"><i class='fa fa-plus'></i> 添加标签</a>
                 
                      
                          
                      <!-- <input name="submit" type="submit" class="btn btn-default" value="提交排序"> -->
                       <!-- <input type="hidden" name="token" value="{$_W['token']}" /> -->
                    
                         
                    </td>
                </tr>
            </tbody>
        </table>
        {$pager}
    </div>
</div>
</form>
</div>
<script>
    require(['bootstrap'], function ($) {
        $('.btn').hover(function () {
            $(this).tooltip('show');
        }, function () {
            $(this).tooltip('hide');
        });
    });
        // onkeyup="save_sort({$row['id']})"
    // function save_sort(id)
    // {
    //     var e = window.event;
    //         if ((e.keyCode || e.which) == 13) {
    //             var save_sorts = $("#save_sorts").val();
    //             alert(id);return false;
    //             $.post("{php echo $this->createPluginWebUrl('network',array('method'=>'network','op'=>'rose_save'))}", {id:id,save_sorts:save_sorts}, function(result){
    //             });
    //         }
    // }
</script>

{elseif $operation == 'post'}

<div class="main rightlist">
    <form action="" method="post" class="form-horizontal form" enctype="multipart/form-data" onsubmit='return formcheck()'>
        <input type="hidden" name="id" value="{$notice['id']}" />
        <div class="panel panel-default">
            <div class="panel-heading">官网文章标签添加</div>
            <div class="panel-body">
	            <div class="form-group">
	            	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
	                    <label class="col-xs-12 col-sm-3 col-md-3 control-label"><span style="color:red">*</span>标题：</label>
	                    <div class="col-sm-9 col-xs-12">
	                        <input type="text" name="title" id="title" class="form-control" value="{$notice['title']}" />
	                    </div>
	                </div>
 
            	<div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
                    <div class="col-sm-9 col-xs-12">
                            <input type="submit" name="submit" value="提交" class="btn btn-primary col-lg-1"  />
                            <input type="hidden" name="token" value="{$_W['token']}" />
                       <input type="button" name="back" onclick='history.back()' style='margin-left:10px;' value="返回列表" class="btn btn-default" />
                    </div>
            	</div>
                
                
            </div>
        </div>
      
    </form>
</div>
</div>
<script language='javascript'>
    function formcheck() {
        if ($("#title").isEmpty()) {
            Tip.focus("title", "请填写公告标题!");
            return false;
        }
        return true;
    }
</script>
{/if}
{template 'web/_footer'}